.character-detail-page {
  border-top: 1px solid $marvel-dark-grey;
  padding: 0 350px 0 350px;
  background-color: $marvel-black;
  color: $marvel-white;
  justify-content: center;
  height: 100%;

  @media (max-width: $breakpoint-mobile), (max-width: $breakpoint-tablet) {
    padding: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 23em;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid $marvel-white;
    border-right: 15px solid $marvel-white;
    z-index: 1;

    @media (max-width: $breakpoint-mobile), (max-width: $breakpoint-tablet) {
      top: 48.3em;
    }
  }

  .character-detail {
    display: flex;
    gap: 20px;
    align-items: center;

    @media (max-width: $breakpoint-mobile), (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin: 20px;
    }

    &__favorite {
      width: 40px;
      height: 40px;
      cursor: pointer;

      @media (max-width: $breakpoint-mobile), (max-width: $breakpoint-tablet) {
        margin-top: 10px;
      }
    }

    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__image {
      width: 300px;
      height: 300px;

      @media (max-width: $breakpoint-mobile), (max-width: $breakpoint-tablet) {
        width: 100%;
        height: auto;
      }
    }

    &__name {
      font-size: $font-xxl-size;
      margin: 10px 0;
    }

    &__description {
      text-transform: capitalize;
      font-size: $font-m-size;
      margin: 20px;
    }
  }
}
