.character-card {
  position: relative;
  background-color: $marvel-black;
  height: 400px;
  color: $marvel-white;
  cursor: pointer;

  @media (max-width: $breakpoint-mobile) {
    height: 360px;
  }

  @media (max-width: $breakpoint-tablet) {
    height: 360px;
  }

  &__container {
    position: relative;
  }

  &__content {
    position: relative;
    height: 300px;
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 5px solid $marvel-red;
    transition: border-bottom 0.5s;
  }

  &:hover .character-card__image {
    border-bottom: 100px solid $marvel-red;

    @media (max-width: $breakpoint-mobile) {
      border-bottom: 60px solid $marvel-red;
    }

    @media (max-width: $breakpoint-tablet) {
      border-bottom: 60px solid $marvel-red;
    }
  }

  &:hover .character-card__favorite {
    transition: fill 0.5s;
    fill: $marvel-white;
  }

  &__overlay {
    transition: height 0.5s;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 24em;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 15px solid $marvel-white;
      border-right: 15px solid $marvel-white;
      z-index: 1;
    }
  }

  &__name {
    position: absolute;
    bottom: 4em;
    color: $marvel-white;
    font-size: $font-s-size;
    margin: 10px 0;
    margin-left: 10px;
    z-index: 1;

    @media (max-width: $breakpoint-mobile) {
      bottom: 1em;
    }

    @media (max-width: $breakpoint-tablet) {
      bottom: 1em;
    }
  }

  &__favorite {
    fill: $marvel-red;
    transition: fill 0.5s;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 4em;
    z-index: 4;
    cursor: pointer;

    @media (max-width: $breakpoint-mobile) {
      bottom: 1.4em;
    }

    @media (max-width: $breakpoint-tablet) {
      bottom: 1.4em;
    }
  }
}
