@import "base.scss";

body {
  margin: 0;
  font-family: $font-family;
}

.header {
  background-color: $marvel-black;
  color: $marvel-white;
  padding: 20px 50px 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__favorites {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
    text-decoration: none;
    color: $marvel-white;
  }
}

.character-list-page {
  padding: 50px;

  &__title-favorites {
    font-size: $font-xxl-size;
    font-weight: $font-weight-bold;
    margin-bottom: 20px;
  }

  &__count {
    font-size: $font-xs-size;
    font-weight: $font-weight-bold;
  }

  .character-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    margin-top: 40px;

    @media (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }

    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
      padding: 20px;
    }
  }
}

.character-card {
  position: relative;
  background-color: $marvel-black;
  height: 400px;
  color: $marvel-white;
  cursor: pointer;

  @media (max-width: $breakpoint-mobile) {
    height: 360px;
  }

  @media (max-width: $breakpoint-tablet) {
    height: 360px;
  }

  &__container {
    position: relative;
  }

  &__content {
    position: relative;
    height: 300px;
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 5px solid $marvel-red;
    transition: border-bottom 0.5s;
  }

  &:hover .character-card__image {
    border-bottom: 100px solid $marvel-red;

    @media (max-width: $breakpoint-mobile) {
      border-bottom: 60px solid $marvel-red;
    }

    @media (max-width: $breakpoint-tablet) {
      border-bottom: 60px solid $marvel-red;
    }
  }

  &:hover .character-card__favorite {
    transition: fill 0.5s;
    fill: $marvel-white;
  }

  &__overlay {
    transition: height 0.5s;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 24em;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 15px solid $marvel-white;
      border-right: 15px solid $marvel-white;
      z-index: 1;
    }
  }

  &__name {
    position: absolute;
    bottom: 4em;
    color: $marvel-white;
    font-size: $font-s-size;
    margin: 10px 0;
    margin-left: 10px;
    z-index: 1;

    @media (max-width: $breakpoint-mobile) {
      bottom: 1em;
    }

    @media (max-width: $breakpoint-tablet) {
      bottom: 1em;
    }
  }

  &__favorite {
    fill: $marvel-red;
    transition: fill 0.5s;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 4em;
    z-index: 4;
    cursor: pointer;

    @media (max-width: $breakpoint-mobile) {
      bottom: 1.4em;
    }

    @media (max-width: $breakpoint-tablet) {
      bottom: 1.4em;
    }
  }
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  &__icon {
    position: absolute;
    top: 2px;
    left: 10px;
    width: 15px;
    height: 15px;
  }

  &__input {
    width: 100%;
    padding-bottom: 5px;
    padding-left: 40px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
  }

  ::placeholder {
    color: $marvel-grey;
    opacity: 1;
  }
}
.character-detail-page {
  border-top: 1px solid $marvel-dark-grey;
  padding: 0 350px 0 350px;
  background-color: $marvel-black;
  color: $marvel-white;
  justify-content: center;

  @media (max-width: $breakpoint-mobile) {
    padding: 0;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 29.5em;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid $marvel-white;
    border-right: 15px solid $marvel-white;
    z-index: 1;

    @media (max-width: $breakpoint-mobile) {
      top: 43.3em;
    }

    @media (max-width: $breakpoint-tablet) {
      top: 43.3em;
    }
  }

  .character-detail {
    display: flex;
    gap: 20px;
    align-items: center;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin: 20px;
    }

    &__favorite {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    .character-detail__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .character-detail__image {
    width: 400px;
    height: auto;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }

  .character-detail__name {
    font-size: $font-xxl-size;
    margin: 10px 0;
  }

  .character-detail__description {
    text-transform: capitalize;
    font-size: $font-m-size;
    margin: 20px;
  }
}

.comics-carrousel {
  padding: 0 350px 0 350px;
  position: relative;
  height: 100vh;

  @media (max-width: $breakpoint-mobile) {
    padding: 20px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 20px;
  }

  &__scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 100px;
  }

  &__scroll::-webkit-scrollbar {
    height: 5px;
  }

  &__scroll::-webkit-scrollbar-thumb {
    background-color: $marvel-red;
  }

  &__list-container {
    max-width: calc(200px * 5 + 20px * 4);
    overflow-x: hidden;
  }

  &__list {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
  }

  &__comic {
    width: 200px;
    max-height: 300px;
    cursor: pointer;
  }

  &__comic-image {
    width: 200px;
    height: 100%;
    object-fit: cover;
  }

  &__comic-title {
    font-size: $font-m-size;
    margin: 10px 0;
    font-weight: $font-weight-bold;
  }

  &__comic-year {
    font-size: $font-m-size;
    margin: 10px 0;
  }
}

.progress-outer {
  display: flex;
  align-items: center;
}
.progress-info {
  width: 30px;
  padding-left: 5px;
}

.progress {
  width: 100%;
  min-height: 1px;
  position: relative;
  overflow: hidden;
  height: 5px;
}

.progress-bar {
  background: $marvel-red;
  height: 100%;
  position: absolute;
  left: 0;
}

.progress.progress--loading .progress-bar {
  width: 30%;
  animation: moveToRight 1s infinite linear smooth;
  border-radius: 3%;
}
