.loading-bar {
  display: flex;
  align-items: center;

  &__inner {
    width: 100%;
    min-height: 1px;
    position: relative;
    overflow: hidden;
    height: 5px;
  }

  &__progress {
    background: $marvel-red;
    height: 100%;
    position: absolute;
    left: 0;
  }

  &__inner--loading &__progress {
    width: 30%;
    animation: moveToRight 1s infinite linear;
    border-radius: 3%;
  }
}
